
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Sign in to techcareer.net</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="container">
        <div class="row">
          <div class="form-group pb-2">
            <input type="text" class="form-control"
              placeholder="Username" [(ngModel)]="username">
          </div>
        </div>
        <div class="row">
          <div class="form-group pb-2">
            <input type="password" class="form-control"
              placeholder="Password"  [(ngModel)]="password">
          </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" (click)="login(username, password)">Sign In</button>
  </div>